.up{
    visibility: hidden;
    position: fixed;
    bottom: 4rem;
    // top: 1rem;

    left: 95%;
    a{
        background-color: rgb(247, 247, 247);
        border-radius: 50%;
        padding: 2rem;
        &:hover{
           color: rgb(0, 0, 10); 
           background-color: $morado;
           border-radius: 50%;
        }
    }
}
.ocultarBoton{
    visibility: visible;
}