.picture{
    h3{
        padding: $separacion;
        text-align: center;
    }
    li{
        list-style: none;
    }
}
.galeriaI{

    @include grid(2, $separacion);
    padding: $separacion;
    @include tablet{
        @include grid(4, $separacion/2);
    }
    @include desktop{
        @include grid(6, $separacion);
    }
}
body{
    // position: relative;
}
.overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bt-cerrar{
    // position: absolute;
    background-color: white;
    padding: 1.5rem;
    border-radius: 50%;
    font-weight: 900;
    // margin: 2rem;   
    &:hover{
        cursor: pointer;
        background-color: red;
        color: white;
        // padding: 2rem;
    }
}