.header{
    background-color: $verde;
    .contenido-header{
        padding: $separacion 0;

        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }
    h1{
        color: $blanco;
        margin-bottom: 1rem;
        text-align: center;
        @include tablet{
            margin: 0;
        }
    }
    &.header-static{
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
    }
}
.navegacion {
    
    display: none;
    @include telefono{
        display: inline;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    
    a{  
        color: $blanco;
        font-size: 2rem;
        &:hover{
            color: $amarillo;
        } 
    }
    
}

