.line-up{
    background: $rosa;
    padding: $separacion 0;
   
    h3, p{
        color: white;
        text-align: center;
        margin: $separacion;
    }
    
    li{
        padding: 2.5rem 0 2.5rem 0;
    }
    .liO{
        background-color: $verdeO;
    }
    
}
.lineUpc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    .nombre-escenario{
            color: $negro;
            font-size: 2rem;
            font-weight: $regular;
            &:after{
                content: '';
                width: 10rem;
                height: 10rem;
                display: block;
                
                margin: 2rem auto;
            }
    }
   
}
.EDM .nombre-escenario{
    &::after{
        background-image: url('../../img/icono_rock.png');
        width: 8rem;
        height: 8rem;
    }

}




