.line-up{
    background: $rosa;
    padding: $separacion 0;
   
    h3, p{
        color: white;
        text-align: center;
        margin: $separacion;
    }
    
    li{
        padding: 2.5rem 0 2.5rem 2.5rem;
        margin-left: 0;
    }
    .liO{
        background-color: $verdeO;
    }
    
}
.lineUpc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    .nombre-escenario{
            color: $negro;
            font-size: 2rem;
            font-weight: $regular;
            &:after{
                content: '';
                width: 10rem;
                height: 10rem;
                display: block;
                background-size: 15rem;
                background-repeat: no-repeat;
                margin: 2rem auto;
                background-position: center;
            }
    }
   
}
.rock .nombre-escenario{
    &:after{
        background-image: url(../img/icono_rock.png);
    }

}
.EDM  .nombre-escenario{
    &:after{
        background-image: url(../img/icono_edm.png);
    }
}

.calendario{
    padding-left: 0;
    list-style: none;
    span{
        font-weight: $gruesa;
    }
}
.bg-verde .calendario li:nth-child(odd){    
    background-color: darken($verde, $amount: 10);
}
.bg-amarillo .calendario li:nth-child(odd){
    background-color: darken($amarillo, $amount: 10);
}


